.menu-wrapper {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bgcolor);

    .menu-list {
        .menu-item {
            cursor: pointer;

            &:hover {
                background: var(--menu-item-hover-bg);
            }

            a {
                display: inline-block;
                width: 100%;
                padding: 12px 18px;
                color: var(--font-color);

                &.active {
                    color: $theme-color;
                    background: var(--menu-item-active-bg);

                    i {
                        color: $theme-color;
                    }
                }
            }


            .iconfont {
                font-size: $font-size-medium-sm !important;
            }

            .menu-title {
                font-size: $font-size-medium-sm;
                margin-left: 8px;
            }
        }
    }
}
