.layout-wrapper {
    height: 100%;

    .layout-body {
        display: flex;
        height: calc(100% - #{$header-height});

        .layout-menu {
            height: calc(100% - #{$mini-player-height});
        }

        .layout-content {
            flex: 1;
            overflow-y: auto;
            min-width: $layout-content-min-width;
            margin-bottom: $mini-player-height;
        }
    }
}
