.playlistdetail-header {
    display: flex;
    padding: 36px;

    .img-wrap {
        @include img-wrap(200px);
        margin-right: 24px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .title-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .title {
                font-size: $font-size-lg;
                color: var(--font-color-white);
            }
        }

        .creator-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 18px;

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 8px;
            }

            .creator {
                margin-right: 8px;
            }

            .create-time {
                font-size: $font-size-sm;
            }
        }

        .action-wrap {
            margin-bottom: 18px;

            .button {
                display: inline-block;
                padding: 5px 16px;
                background: #f95043;
                background: linear-gradient(to right, #fa5143, #f44d41, #d53b32);
                color: #fbdfdd;
                border: none;
                border-radius: 2px;
                text-align: center;
                cursor: pointer;

                .middle {
                    margin-left: 4px;
                    vertical-align: middle;
                }
            }
        }

        .desc-wrap {
            .desc {
                margin-bottom: 8px;

                .value {
                    @include text-ellipsis-multi(3);
                }
            }
        }
    }
}
