.backdrop {
    display: inline-block;
    @include flex-center;
    border-radius: 50%;

    &:hover {
        background-color: var(--round-hover-bgcolor);
    }
}

.iconfont {
    cursor: pointer;
}

.icon-color {

    // 通过prop传入这几个字段
    // 可以使用默认的几个颜色
    &-theme {
        color: $theme-color;
    }

    &-white {
        color: $white;
    }

    &-shallow {
        color: var(--font-color-shallow-grey);
    }
}
