//input
$input-height: 24px;

@mixin ant-input-style($color, $bg-color, $placeholder-color) {
    .ant-input {
        height: $input-height !important;
        line-height: $input-height !important;
        background: #{$bg-color} !important;
        border: none !important;
        color: #{$color} !important;

        &:hover {
            border: none !important;
        }

        &:focus {
            border: none !important;
            box-shadow: none;
        }
    }

    .ant-input-prefix {
        line-height: $input-height + 3px !important;

        i {
            color: #{$color} !important;
            transition: none !important;
        }
    }

    input::-webkit-input-placeholder {
        color: #{$placeholder-color} !important;
    }
}

// 外部覆写input-theme样式
@mixin ant-input-theme($color, $bg-color, $placeholder-color: $color) {
    /deep/.ant-input-affix-wrapper {
        @include ant-input-style($color, $bg-color, $placeholder-color);
    }

    /deep/.ant-input-search {
        @include ant-input-style($color, $bg-color, $placeholder-color);
    }
}

.ant-input-affix-wrapper {
    @include ant-input-style(var(--input-color),
        var(--input-bgcolor),
        var(--font-color-grey-shallow));
}

// 登录弹窗内的输入框样式重写
.login-body {
    @include ant-input-style(var(--input-color),
        var(--input-bgcolor),
        var(--font-color-grey-shallow));
}

// popover
@each $direction in 'bottom''top''left''right' {
    .ant-popover-content .ant-popover-arrow {
        border-#{$direction}-color: var(--prompt-bg-color) !important;
    }
}

.ant-popover-inner {
    background: var(--prompt-bg-color) !important;
    border: none !important;
    text-align: left;
    @include box-shadow;
}

.ant-popover-inner-content {
    color: var(--font-color) !important;
}



// modal
.ant-modal-header,
.ant-modal-content {
    background: var(--modal-bg-color) !important;
    border-bottom: none;
}

.ant-modal-title,
.ant-modal-close {
    color: var(--font-color) !important;
}

.ant-modal-footer {
    border-top: none;
    padding: 18px;
}

.ant-modal-close-x:hover {
    color: $theme-color;
}

// button
.ant-btn-primary {
    background: $theme-color !important;
    border-color: $theme-color !important;
}

.ant-btn-primary:hover {
    background: $theme-color-hover !important;
    border-color: $theme-color-hover !important;
}
