.banner-carousel {
    /* /deep/ .slick-list {
        height: 160px;
    }

    /deep/ .slick-slide {
        height: 160px;
        overflow: hidden;
    } */

    .banner-img {
        width: 730px !important;
        height: 280px;
    }
}
