.mini-player-wrapper {
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 24px 8px 16px;
    display: flex;
    justify-content: space-between;
    height: $mini-player-height;
    background-color: var(--body-bgcolor);
    z-index: $mini-player-z-index;

    .song {
        display: flex;
        flex: 4;
        overflow: hidden;

        .img-wrap {
            position: relative;
            margin-right: 8px;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            @include img-wrap(40px);

            img {
                &.blur {
                    filter: blur(2px);
                }
            }

            .player-control {
                @include abs-center;
            }
        }

        .content {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .top {
                display: flex;
                align-items: flex-end;
                white-space: nowrap;

                p {
                    margin-bottom: 0;
                    color: var(--font-color);
                }

                .name {
                    color: var(--font-color-white);
                    @include text-ellipsis;
                }

                .split {

                    font-size: $font-size-xs;
                    margin: 0 4px;
                }

                .artists {
                    font-size: $font-size-xs;
                    @include text-ellipsis;
                }
            }

            .time {
                font-size: $font-size-xs;
                color: var(--font-color-grey);

                .split {
                    margin: 0 4px;
                }

            }
        }
    }

    .control {
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        @include flex-center();

        .play-icon {
            @include flex-center();
            position: relative;
            width: 45px;
            height: 45px;
            margin: 0 16px;
            border-radius: 50%;
            background: $theme-color;
            cursor: pointer;

            i {
                color: #fff;
            }
        }

        .icon {
            color: $theme-color;
        }
    }

    .mode {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 6;

        .mode-item {
            display: block;
            margin-right: 16px;
            width: 22px;
            color: var(--font-color);
        }

        .volume-item {
            margin-right: 22px;
        }
    }

    .progress-bar-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: -14px;
    }
}

.miniplayer-pop-content {
    margin-bottom: 0;
}
