.player-wrap {
    position: fixed;
    top: $header-height;
    bottom: $mini-player-height;
    left: 0;
    right: 0;
    background: var(--player-bgcolor);
    z-index: $song-detail-z-index;
    transition: transform .5s
}

.slide-enter,
.slide-exit-done {
    opacity: 0;
}


.slide-enter-done,
.slide-exit {
    opacity: 1;
}

.slide-exit-active,
.slide-enter-active {
    transform: translateY(100%);
    transition: all .5s;
}
