.playlist-detail {
    width: 100%;

    .tabs-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 24px;
        border-bottom: 1px solid var(--border);
    }

    .comments {
        padding: 16px 32px;
    }
}
